[defaults]
host_key_checking = False
inventory = inventory/
forks = 50
hash_behaviour = merge
nocows = 1
stdout_callback = debug
force_color = 1
# Since ansible 2.4, need these to run playbook that exists in sub directory.
roles_path = roles

[ssh_connection]
pipelining = True

